APOLLO_EMAILS=n.a.y.e.e.m.f.r.e.elan.cee+campaign.0bczs.8rg45200@gmail.com
APOLLO_PASSWORDS=@Qwerty@14324
GMAIL_USER=nayeemfreelancee@gmail.com
GMAIL_APP_PASSWORD=feho jmjn qgzn utvc
CAPSOLVER_API_KEY=CAP-D3066E7DCF80005676B3C5DD6C46CA7D4A28B0A9D857CD4E0A614155F83FC499
APOLLO_TURNSTILE_SITE_KEY=0x4AAAAAAABkMYinukE8nzYS
APOLLO_HOST=https://app.apollo.io
PROXY_URL=http://user:pass@host:10000
SESSION_TTL_MS=3600000
SESSION_REFRESH_BUFFER_MS=300000
LOGIN_STAGGER_INTERVAL_MS=1200000
API_CALL_DELAY_MS=300
PORT=3000
NODE_ENV=production
